html,
body,
#mapid {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: forma-djr-deck, sans-serif;
    overflow: hidden;
}
















.splash{
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #635E54;
    z-index: 9348204832;
    color: #FFA011;
    text-align: center;
    margin: auto auto;
}
.splash.display-none{
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    opacity:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #635E54;
    z-index: -100;
    color: #FFA011;
    text-align: center;
    margin: auto auto;
    transition: all 0.5s;
}

#logo{
    width: 60%;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

























#myLocationText {
    font-size: 1.20em;
}

#map {
    position: absolute;
    top: 0;
    bottom: 22em;
    width: 100%;
} 

body {
    position: relative;
}

#error {
    position: absolute;
    width: 80%;
    margin: 0px;
    z-index: 2000;
    width: 80%;
    border-radius: 20px;
    max-width: 500px;
    top: 30%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    display: none;
    text-align: center;
}

#input {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1002;
    padding: 0px 30px 0px 30px;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid #ddd;
}

#input2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0px 30px 0px 30px;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid #ddd;
}

#autolocationerror {
    display: none;
}


/* -- top content box -- */
#topContent {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1000;
    background-color: #707070;
    color: white;
    height: 4em;
    width: 100%;
    border-radius: 0 0 15px 15px;


}

#picker {
    margin: auto auto;
}

.span1 {
    grid-column: span 1;
}
.span2 {
    grid-column: span 2;
}

.span3 {
    grid-column: span 3;
}

.span4 {
    grid-column: span 4;
}

.span5 {
    grid-column: span 5;
}

.span6 {
    grid-column: span 6;
}
.span6 {
    grid-column: span 6;
}

.span8 {
    grid-column: span 8;
}

.topText {
    display: flex;
    margin: auto auto;
    font-size: 6vw;


}


select {
    padding: 0.25em 2.5em 0.25em 0.5em;
    /* font-size: 1.3em; */
    font-size: 5vw;
    max-height: 47px;
    border-radius: 5px;
}

#picker {
    margin: auto 0;
}






/*@@@@@@@@@@@@@@@@@@@ tabs stuff */
#myLocationTab {
    position: absolute;
z-index: 1000;
    /* left: 0px; */
    background-color: #3e57d0;
    color: white;
    padding: 0.5em 1em 3em 1em;
    border-radius: 15px 15px 0 0;

}
#buddy1Tab {
    position: absolute;
    z-index: 999;
    left: 125px;
    background-color: maroon;
    color: white;
    padding: 0.5em 1em 3em 1em;
    border-radius: 15px 15px 0 0;

}

#addBud1 {
    position: absolute;
    z-index: 1000;
    right: 0px;
    background-color: #707070;
    padding: 0.5em 1em 2.65em 1em;
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 1.2em;

}

#removeBud1{
    z-index: 1000;
}




#addPic {
    margin: auto auto;
}

img {
    vertical-align: middle;
}

.buddyText{
    font-size: 1.2em;
    /* padding: 1em; */
}

/* this makes the active tab higher */
.activeTab {
    bottom: 245px;
}

.inactiveTab {
    bottom: 230px;
}


/* @@@@@@@@@@@@@@@@@@@@form stuff */
form {
    text-align: center;

}

form>input {
    margin-bottom: 1.5em;

}

#locationinput {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: #bbb;
    background-color: #F5F5F5;
}

#formPin {
    vertical-align: bottom;
    height: 40px;
}

.locationAndPin {
    display: inline-block;
    margin: auto auto;
    padding: 1em 0 1.35em 0;

}

#submit {
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
    background-color: #707070;
    color: white;
}

/* italicizes the placeholder text */
::-webkit-input-placeholder {
    font-style: italic;
}


/* time input box styling */
#traveltimeinput {
    border-radius: 5px;
    border-width: 2px;
    margin-right: 3px;
}

/* radio button hiding */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* radio button clickability */
[type=radio]+svg {
    cursor: pointer;
}

/* button spacing */
label {
    margin: 0 1em 0 1em;
}


/* svg styling active and inactive buttons */
.activeBox {
    fill: #707070;
}

.inactiveBox {
    fill: #fff;
}

.activeIcon {
    fill: white;
}

.inactiveIcon {
    fill: #707070;
}

/* disappear (get rid of img in new bud tab)*/
.disappear {
    display: none;
}

/* appear (bring back img in new bud tab)*/
.appear {
   display: block;
   opacity: 1;
animation-name: appearing;
animation-fill-mode:forwards;
animation-duration: 2.5s;
animation-iteration-count:inherit;
}
 @keyframes appearing{
0%{
    opacity: 0;
}
30%{
    opacity: 1;
}

100%{
    opacity: 0;
}
} 


/* @@@@@@@@@@@@@@@@@@@@@@@@@ form2 (budddy 1) */

#locationinput2{
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: #bbb;
    background-color: #F5F5F5;
}

#traveltimeinput2{
    border-radius: 5px;
    border-width: 2px;
    margin-right: 3px;
}




/* @@@@@@@@@@@@@@@@@@@@@@@@RESULTS DIV */
#resultsDiv{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* bottom: -20em; */
  
    left: 0;
    z-index: 1001;
    padding: 0px 30px 0px 30px;
    background-color: #F5F5F5;
    width: 100%;
height: 40em;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid #ddd;
}

.divDown{
    transition: 0.5s all;
    bottom: -20em;
}

.divUp{
    transition: 0.5s all;
    bottom: 0em;
}
#backArrow{
    width: 70%;
    /* position: relative; */
    margin: auto auto;
    /* padding: 1em; */
    display: block;
}
/* #resultsContainer{
    background-color: red; 
    height: 2em;  
border-style: solid;
border-width: 1px;
border-color: black;
padding: 1em 2em;
} */

#up{
    width: 70%;
  
}
#upContainer{
    display: block;
    margin: auto auto auto auto;
}


#span6{
    background-color: red;
    width: 100%;
}


.resultsCard1{
  background-color: #fff;
  border-radius: 14px;
  border-width: 2px;
  height: 6em;

  padding: 0.75em 1em 1em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 

}


.locationLetter{
    font-size: 1.6em;
margin: auto 0.5em auto 0.25em;
}

h1{
    font-size: 1.3em;
    font-weight:bold;
}
.textCard{
    margin: auto auto;
}

.linkIcon{
    display:block;
    margin: auto auto 1.75em 0.65em;
    width: 65%;
    text-align: center;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 0.75em;
    color:gray;}


/* TOOLTIP */
#tooltipContainer{
    z-index: 696969696969;
    border-radius: 12px;
   margin: 0 auto;
    /* display: block; */
    /* color: red; */
    background-color: #AAAAAA;
    color: white;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 17em;
    text-align: center;
    transition: 0.5s all;
    opacity: 0;
}

#tooltip h1{
    padding: 1.5em 0em;
}



.rotate{
transform: rotate(180deg);
transition: 0.5s all;
}
.upright{
transform: rotate(360deg);
transition: 0.5s all;
}